<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spendenlauf</title>
    <link rel="icon" type="image/png" href="/pics/Abstand.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'  href='/css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>

  <!--Navigationsmen체-->

 <div class="Headercenter"><h1>Willkommen auf der Seite des Spendenlaufes der MSO</h1></div>  
{{>nav}}

<!--Informationstext 체ber den Spendenlauf mit verweis auf 체ber uns-->
<div class="Headercenter">
  <h3><p> Herzlich Willkommen auf der offizielen Website des MSO Spendenlaufes</p></h3>
<br>
<p><b>AUF NACH BOLIVIEN!</b></p><br> Unser diesj채hriges Spendenlaufziel ist eine Gesamtkilometerzahl einer Strecke von Leverkusen bis San Miguele de Apere.
</div>

<!--Bild mit der Entfernung-->  
<div class="bild">
<img src="/pics/Abstand.png">
</div>


<footer>
  <p>&copy; Copyrigt 2021 Robin Wendt im Auftrag von der Marienschule Opladen <b>All Rights Reserved</b>
  </p>
  <p><a href="Impressum.html">Impressum</a> <a href="Datenschutz.html">Datenschutz</a></p>
</footer>
</body>
</html>

<!--(c)2021 Robin Wendt-->