<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marienschule Opladen | Spendenlauf</title>

    </head>
    <body>
        <div class="title-container">
       <a href="/"></a> <img class="logo" src="pics/marienschule.png"></a>
        <h1>Spendenlauf der Marienschule Opladen</h1>    
    </div>
    {{>nav}} 

    <div class="header-container">
        <img class="header-img" src="pics/header-img.png">
    </div>
    <div class="top-text-container">
        <img src="pics/stickman_läufer.png">
        <h1>Willkommen auf der Spendenseite von unserem Spendenlaufprojekt MSO goes Bolivien</h1>
             <h1>{{>runned}}</h1>
        <p>Am 08. März startet unser digitaler Spendenlauf, bei dem wir gemeinsam versuchen möchten, bis nach Bolivien zu laufen. Wir haben dann zwei Wochen Zeit, möglichst viele Kilometer zu sammeln.
            Dabei ist es egal, ob wir joggen, wandern oder spazieren gehen. Vorher müssen wir natürlich ein paar Spender*innen suchen, die für uns pro gelaufenen Kilometer einen bestimmten Betrag spenden. 
            Die gesammelten Spenden werden dabei am Ende des Laufes entweder direkt von den Spender*innen hier an Misereor überwiesen oder von den Laufenden eingesammelt und als kompletter Betrag überwiesen. Die Spenden kommen verschiedenen Projekten in Bolivien zur Hilfe, die von Misereor unterstützt werden. </p>
    </div>
    <div class="grey-area">
    <div class="mso-goes-bolivien">
        <img class="bolivien" src="pics/bolivien.png">
        <h1>Marienschule goes Bolivien...</h1>
        <h2>Wie kamen wir auf die Idee?</h2>
        <span class="sub-text"></span>
        <p>Wir (Stufe 9) haben uns während unserer digital stattfindenden Besinnungstagen viel mit den Folgen ungerechter Strukturen für die Indigenen im Amazonasgebiet Boliviens befasst - und wollten danach selbst Bolivien mit unseren Möglichkeiten unterstützen. Da der Spendenlauf für die sechste Stufe letztes Jahr auf Grund der Pandemie ausgefallen ist, haben wir versucht, ihn dieses Jahr (wenn auch etwas anders) ermöglichen zu können.
             Jeder läuft dieses Jahr für sich allein, weshalb wir den Spendenlauf anstatt nur für die sechste Stufe für alle Schüler*innen organisiert haben.</p>
    </div>
</div>
<div class="footer">
    <h1>Copyright by Marienschule Opladen, 2021</h1>
    <p><a href="/impressum">Impressum</a> <a href="/Datenschutz">Datenschutz</a></p>
</div>
    </body>
</html>