<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marienschule Opladen | Spendenlauf</title>

    </head>
    <body>
        <div class="title-container">
       <a href="/"></a> <img class="logo" src="pics/marienschule.png"></a>
        <h1>Spendenlauf der Marienschule Opladen</h1>    
    </div>
    {{>nav}} 

    <div class="header-container">
        <img class="header-img" src="pics/header-img.png">
    </div>
    <div class="top-text-container">
 
  
<body id="Content">

<div class="center-align">
{{>runned}}



 <h2>{{name}}</h2>

Du bist schon {{Userdistance}} Kilometer gelaufen
</div>
  </div>


</body>
    <div class="center-align">
    {{>addarun}}

    </div>
    <div class="grey-area">
    <div class="mso-goes-bolivien">
<img src="/users/{{uid}}/qr" id="qrcode" alt="">
</div>
</div></div>
<!-- Footer mit Impressums und Datenschutz Links -->

<div class="footer">
    <h1>Copyright by Marienschule Opladen, 2021</h1>
    <p><a href="/impressum">Impressum</a> <a href="/datenschutz">Datenschutz</a></p>
</div>
</body>
</html>