<!DOCTYPE html>

<html>

<head>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="Content">
{{>nav}} 
{{>runned}}




 <h2>{{name}}</h2>

Du bist schon {{Userdistance}} Kilometer gelaufen


<img src="/users/{{uid}}/qr" id="qrcode" alt="">


</body>
    
    {{>addarun}}

    
</html>