<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marienschule Opladen | Spendenlauf</title>

    </head>
    <body>
        <div class="title-container">
       <a href="/"></a> <img class="logo" src="pics/marienschule.png"></a>
        <h1>Spendenlauf der Marienschule Opladen</h1>    
    </div>
    {{>nav}} 

    <div class="header-container">
        <img class="header-img" src="pics/header-img.png">
    </div>
    <div class="top-text-container">
        <img src="pics/stickman_läufer.png">
        <h1>Willkommen auf der Spendenseite von unserem Spendenlaufprojekt MSO goes Bolivien</h1>
             <h1>{{>runned}}</h1>
        <h1> {{nickname}}</h1>
        <h1>{{distance}}</h1>
    <div class="footer">
            <h1>Copyright by Marienschule Opladen, 2021</h1>
    <p><a href="/impressum">Impressum</a> <a href="/datenschutz">Datenschutz</a></p>
</div>  
    </body>
</html>
    
  