<div class="back"></div>
<div class="registration-form">

  <head>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marienschule Opladen | Spendenlauf</title>

  </head>

  <body>
    <div class="title-container">
      <a href="/"></a> <img class="logo" src="pics/marienschule.png"></a>
      <h1>Spendenlauf der Marienschule Opladen</h1>
    </div>
    {{>nav}}

    <div class="header-container">
      <img class="header-img" src="pics/header-img.png">
    </div>
    <div class="center-align">
      <form>
        <div class="input-section name-selection ">
          <input class="name" type="name" placeholder="Benutzername" autocomplete="off" />
        </div>
        <p> Wähle hier bitte deine Stufe aus </p>
        <div>
          <select name="top5" size="5" id="drop">
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>Lehrer</option>
          </select>

          <h1 id="pwd"></h1>
          <h2 id="id"></h2>

        </div>
        <div class="success">

        </div>
        <button>Registrieren</button>
      </form>

      <h1>Bitte verwende nicht deinen echten namen als Nickname!</h1>
      <br>
      <h1>Bitte Notiere dir deine Zugangsdaten!</h1>
    </div>
    <div>

      <h1 id="abc"></h1>

    </div>

    <script src="/js/SignUp.js"></script>
</div>
<div class="grey-area">
  <div class="mso-goes-bolivien">
    <img class="bolivien" src="pics/bolivien.png">
    <h1>Du brauchst Hilfe?</h1>
    <span class="sub-text"></span>
    <p>Solltest du hilfe bei der Registrierung brauchen findest du hier ein Tutorial Video, bei weiteren Fragen wende
      dich an das MSOgoesBolivien Projektteam</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vs4d-FRd3vI" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>
<div class="footer">
  DU brauchst hilfe bei der Registrierung? <a href="" <h1>Copyright by Marienschule Opladen, 2021</h1>
    <p><a href="/impressum">Impressum</a> <a href="/datenschutz">Datenschutz</a></p>
</div>
</body>