
<div class="back"></div>
<div class="registration-form">
  <header>
    <h1>Sign Up</h1>
    <p>Fill in all informations</p>
  </header>
  <form>
    <div class="input-section name-selection ">
      <input class="name" type="name" placeholder="ENTER YOUR NAME HERE" autocomplete="off"/>
    </div>
    <div class="input-section email-section">
      <input class="email" type="email" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off"/>
    </div>
    <div class="input-section password-section folded">
      <input class="password" type="password" placeholder="ENTER YOUR PASSWORD HERE"/>
    </div>
    <div class="input-section repeat-password-section folded">
      <input class="repeat-password" type="password" placeholder="REPEAT YOUR PASSWORD HERE"/>
   </div>
    <div class="success"> 
      
    </div>
    <button>SingUp</button>
  </form>

  <div>

    <h1 id="abc"></h1>

  </div>
 
<script src="/js/SignUp.js"></script>
</div>