<!DOCTYPE html>

<html>

<head>
    
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <b id="">

        Es wurden {{distance}} Kilometer gelaufen 

    </b>

    <script src="/js/total.js"></script>
</body>

</html>