<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Spendenlauf</title>
    <link rel="icon" type="image/png" href="/pics/Abstand.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet'  href='/css/styles.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
t
  <!--Navigationsmenü-->  
{{>nav}}



<footer>
  <p>&copy; Copyrigt 2021 Robin W. & Jonas L. im Auftrag von der Marienschule Opladen
  </p>
  <p><a href="/impressum">Impressum</a> <a href="/Datenschutz">Datenschutz</a></p>
</footer>
</body>
</html>

<!--(c)2021 Robin Wendt-->