<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marienschule Opladen | Spendenlauf</title>

    </head>
    <body>
        <div class="title-container">
       <a href="/"></a> <img class="logo" src="pics/marienschule.png"></a>
        <h1>Spendenlauf der Marienschule Opladen</h1>    
    </div>
    {{>nav}} 
    <div class="header-container">
        <img class="header-img" src="pics/header-img.png">
    </div>
    <div class="top-text-container">
        <img src="pics/stickman_läufer.png">
        <h1> Weitere Information über das Projekt </h1>
        <p>Du hast noch fragen? Oder suchst nach weiteren Infos, deinem Laufzettel oder möchtest Spenden? Das alles findest du auf dieser Seite!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tLzK_buEElo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/X8Psv5XgRgo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grey-area">
    <div class="mso-goes-bolivien">
        <img class="bolivien" src="pics/bolivien.png">
        <h1>Downloads</h1>
        <span class="sub-text"></span>
        <p>
            <ul>
                <a href="https://marienschuleopladen-my.sharepoint.com/:b:/g/personal/markus_hartmann_marienschule_com/EckHOCIZUZREpc5JTYKWUnYB-p9TlAJOl6tZzggIRRBS4w?e=Yayj5k">Laufzettel</a>
                <br>
                <a href="https://marienschuleopladen-my.sharepoint.com/:b:/g/personal/markus_hartmann_marienschule_com/Eb2C0vVhYJhPrOr9s-szWYYB2y2RRN4QEjTU5bai2cujmQ?e=BKe3hm">Sponsorenzettel</a> 
                <br>
                <a href="https://marienschuleopladen-my.sharepoint.com/:b:/g/personal/markus_hartmann_marienschule_com/EQ4oWYS02EZGo2lTBrVf2XcBxvx1an7zQ9yJM4Q1mfVQPg?e=j4cB3F">Infoblatt zu Bolivien</a>
                <br>
                <a href="#"</a> 
            </ul>
        </p>
    </div>
</div>
 <div class="top-text-container">
        <img src="pics/stickman_läufer.png">
        <h1>Spendenwidget</h1>
        <a href="https://www.misereor.de/spenden/spendenaktionen/eigene-spendenaktion-starten/?cfd=nwqv6"></a>
        <p>Du/sie oder ihr Läufer hat bereits seine Läufe abgeschlossen? Dann spenden sie hier über das Widget oder auf der Miserior Homepage
        </a>
        </p>
        <!-- Begin FundraisingBox --> <script type='text/javascript'> var fb_config = {  'show_expired': '1',  'target': '_blank',  'domains': 'nwqv6', }; var fb_params = ''; for(var key in fb_config) { fb_params += '&'+key+'='+encodeURI(fb_config[key]); } document.write(String.fromCharCode(60)+"script type='text/javascript' src='https://secure.fundraisingbox.com/app/widgetJS?cfl=6042a68b48693&cfh=qm9d0ivs"+fb_params+"'>"+String.fromCharCode(60)+"/script>"); </script><noscript>Bitte Javascript aktivieren</noscript> <!-- End FundraisingBox --> 

    </div>
<div class="footer">
    <h1>Copyright by Marienschule Opladen, 2021</h1>
    <p><a href="/impressum">Impressum</a> <a href="/datenschutz">Datenschutz</a></p>
</div>
    </body>
</html>