<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MSO Rooms - Rooms</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>
 <div class="Headercenter"><h1>Rooms</h1></div>  
<div class="navbar">

  <a href="index.html"><img src="https://www.marienschule.com/assets/MSOLogo-84510ebbb836300f53362971b6f5fe13d66642acf46fe82d95e4ee4fb65822b5.svg" alt="logo"></a>
  
  <nav>
     <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Rooms.html">Räume</a></li>
        <li><a href="FAQ.html">FAQ</a></li>
        <li><a href="impressum.html">Impressum</a></li>
        <li><a href="Login.html">Login</a></li>
    </ul>
  </nav>
 

 </div> 
 <div class="Headercenter">
Über das Projekt  
  </div>
  
  
  
  </div>
  </div>
  
</body>
<footer>
  <p>&copy; Copyrigt 2021 Robin Wendt & Jonas Liebegott
  </p>
  <p><a href="Impressum.html">Impressum</a> </p>
</footer>
</html>

