
<form>
<input type="number" placeholder="Distanz in Km" id="distanceinput">
<div class="button">
<button type="button" id="confirminput"> Lauf hinzufügen </button>
</div>
<p id="conf"></p>
</form>


<script src="/js/addarun.js"></script>


