<div class="navbar">

<!--MSO Logo in der Navigationsleiste-->
  <a href="/"><img src="https://www.marienschule.com/assets/MSOLogo-84510ebbb836300f53362971b6f5fe13d66642acf46fe82d95e4ee4fb65822b5.svg" alt="logo"></a>
  
  <!-- Auswahlmenü der Navigationsleiste-->
  <nav>
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/UeberdasProjekt">Informationen</a></li>
      <li><a href="/me">Dashboard</a></li>
      <li><a href="/login">Login</a></li>
      {{>log}}
      
      
    
    </ul>
  </nav>

</div> 