<div class="InfoNEWS">
    <h2>Fragst du dich gerade wieso du keinen Lauf mehr hinzufügen kannst?
        <br>
        Der Spendenlauf ist leider schon beendet :( Das eintragen der Läufe ist nicht mehr Möglich! 
        Solltest du deine Läufe Speichern wollen, mache einfach einen Screenshot bis zum 28.03.2021 um 23:59, dies ist der erste Sonntag der Ferien        
        <br>
        Vielen Dank für eure Teilnahmee und Spenden!
        <br>
        Eure Administratoren 
        <br>
        Robin und Jonas
    </h2>
</div>