.Headercenter {
    display: flex;
    color: #e5e5e5;
    align-items: center;
    justify-content: center;
  }

  .center-align {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    margin: 0;
    padding: 0;
  }


  .navbar {
    background-color: #ec6d07;
    height: 50px;
  }
  
  .navbar img {
    width: 25px;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav {
    float: right;
    margin: 0;
  }
  
  li {
    display: inline;
    padding: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #3d2d18;
    display: inline-block;
    padding-top: 15px;
  }
  
  nav a:hover {
    color: #000000;
  }
  
  nav a:active {
    font-weight: bold;
  }
  
  @media screen and (max-width: 700px) {
    nav {
      width: 100%;
      margin-top: -5px;
    }
  
    nav li {
      display: block;
      background-color: #e5e5e5;
      text-align: center;
    }
   }
  
  * {
    font-family: Montserrat, sans-serif;
  }
  .startimage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }

  footer {
    margin-bottom: 0px;
    margin-top: 99%;
    text-align: center;
    padding: 3px;
    background-color: #f79606;
    font-weight: bold;
    color:black;
  }
  .rund {
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200p;
    height: 25%;
    width: 20%;
  }
  
  .runde-ecken {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
  }

  .dropdown{
    font-weight: bold;
    font-size: unset;
    font-style: initial;
    color: black;
    justify-content: center;
    text-align: center;
    border-width: thin;
    border-radius: 3px ;
  }

  html {
    background-color: #A6A6A6;
  }

  .bild {
    display: flex;
    align-items: left;
    justify-content: left;
    height: 25%;
    width: 20%;
  }

  .Infotext {
    display: flex;
    color: #e5e5e5;
    align-items: right;
    justify-content: right;
  }
  
/* (c)2021 Robin Wendt */